<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Backpack.Core\packages.config" />
  <repository path="..\src\Backpack.HTML\packages.config" />
  <repository path="..\src\Backpack.MVC.Site.Tests\packages.config" />
  <repository path="..\src\Backpack.MVC.Site\packages.config" />
  <repository path="..\src\Backpack.Site\packages.config" />
  <repository path="..\src\Backpack.Web.Mvc\packages.config" />
  <repository path="..\src\Backpack.WebApi\packages.config" />
</repositories>