<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Backpack.MVC.Site.Tests\packages.config" />
  <repository path="..\src\Backpack.MVC.Site\packages.config" />
  <repository path="..\src\Backup.MVC.Site.Tests\packages.config" />
  <repository path="..\src\Backup.MVC.Site\packages.config" />
</repositories>